$button: #ed1b2f;

$tag_super_hot: #ed1b2f;
$tag_hot: #ff9119;
$tag_new: #085bdd;

$text_main: #121212;
$text_title: #252525;
$text_desc: #6c6c6c;

$white: #ffffff;

$bg_main: #f7f7f7;
$bg_job_new: #fff4e9;

$font_heading: 28px;
$font_title: 20px;
$font_desc: 18px;
$font_date: 14px;
